################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Angular-CoreWebAPI/.vs/Angular-CoreWebAPI/v15
